In [162]:
import numpy as np
import pandas as pd
from math import sqrt

In [163]:
#Crea el df
head = ["sepallength","sepalwidth","petallength","petalwidth","Class"]
df = pd.read_fwf("iris.data", delimiter=',', header=None, names=head)
df

     sepallength  sepalwidth  petallength  petalwidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [164]:
#Convertir los datos categoricos a numericos.
df["Class"] = df["Class"].astype('category')

In [165]:
df["Class"]=df["Class"].cat.codes

In [166]:
df

     sepallength  sepalwidth  petallength  petalwidth  Class
0            5.1         3.5          1.4         0.2      0
1            4.9         3.0          1.4         0.2      0
2            4.7         3.2          1.3         0.2      0
3            4.6         3.1          1.5         0.2      0
4            5.0         3.6          1.4         0.2      0
..           ...         ...          ...         ...    ...
145          6.7         3.0          5.2         2.3      2
146          6.3         2.5          5.0         1.9      2
147          6.5         3.0          5.2         2.0      2
148          6.2         3.4          5.4         2.3      2
149          5.9         3.0          5.1         1.8      2

[150 rows x 5 columns]

In [167]:
ed = df["Class"].value_counts()
ed

0    50
1    50
2    50
Name: Class, dtype: int64

In [168]:
def clasificar(x,dataframe,k):


  size = dataframe.shape[0]
  setDist = []
  results = pd.DataFrame()

  #Calcular distancias.

  for row in range(size):
    setSubs =  ((x[0] - dataframe["sepallength"][row])**2) + ((x[1] - dataframe['sepalwidth'][row])**2) + ((x[2] - dataframe['petallength'][row])**2) + ((x[3] - dataframe['petalwidth'][row])**2)
    setDist.append(sqrt(setSubs))

  results["Distance"] = setDist
  results["Class"] = df["Class"]

  #Ordenar valores en orden ascendente.
  sortResults = results.sort_values(by=["Distance"], ignore_index = True)

  #Seleccionar los k elementos con la menor distancia 
  k_sortResults  = sortResults.head(k)

  print("k_sortResults")
  print(k_sortResults)
  #Conteo de las clases de los k vecinos cercanos X.
  count_Class  = k_sortResults["Class"].value_counts()

  #ex.values[0]
  #index
  #value
  #Regresa la clase mayoritaria de count_Class.
  return count_Class.idxmax()

In [169]:
#Prueba del funcionamiento
test = [2.5,3.2,3.4,1.2]

k=5

result = clasificar(test,df,k)

if result == 0:
  print("Iris-setosa")
elif result == 1:
  print("Iris-versicolor")
elif result == 2:
  print("Iris-virginica")

k_sortResults
   Distance  Class
0  2.539685      1
1  2.666458      1
2  2.723968      1
3  2.776689      2
4  2.782086      1
Iris-versicolor